[core]
        packedGitLimit = 200 m

[cache "diff"]
        diskbuffer = 10 m

[gerrit]
	basePath = /app/git

[index]
	type = LUCENE
[auth]
	type = HTTP
    httpHeader = GITHUB_USER
    logoutUrl = /oauth/reset
	httpExternalIdHeader = GITHUB_OAUTH_TOKEN
	loginUrl = /login
	loginText = Sign-in with GitHub
	registerPageUrl = "/#/register"
[sendemail]
	smtpServer = localhost
[container]
	javaHome = /app/.jdk/jre
[httpd]
	listenUrl = http://*:8080/
    filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
	directory = cache
[github]
	url = https://github.com
	apiUrl = https://api.github.com
